@charset "utf-8";

table.table-center th,
table.table-center td {
    text-align: center;
}
table th, table td {
    vertical-align: middle !important;
}

table tr.korean {
    background: #eee;
    font-weight: bold;
}

#BuddyTable tfoot td {
    padding: 1em;
    text-align: right;
}

.be_a_buddy {
    text-align: right;
}

.languageList {
    margin-bottom: .5em;
}
