{% extends "application/base.html" %}
{% load filters %}

{% block content %}
<div class="container">
    <h1 class="page-header">Application List</h1>
    <table class="table table-condensed table-striped table-center">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Gender</th>
                <th>Birth</th>
                <th>Nationality</th>
                <th>SNU No.</th>
                <th>Facebook Info</th>
                <th>Returning</th>
                <th>Matching</th>
                <th>Major</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
        {% for application, matching in application_infos %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ application.user.first_name }} {{ application.user.last_name }}</td>
            <td>{{ application.user.email }}</td>
            <td>{{ application.user.profile.get_gender_display }}</td>
            <td>{{ application.user.profile.birth|date:"y/m/d" }}</td>
            <td>{{ application.user.profile.country }}</td>
            <td>{{ application.snu_id }}</td>
            <td title="{{application.fb_name}}">{{ application.fb_email }}</td>
            <td>{% if application.returning %}O{% endif %}</td>
            <td>{% if matching %}O{% endif %}</td>
            <td>{{ matching.major }}</td>
            <td>
                {% if not application.user|has_group:"Foreigner" %}<a href="/application/accept/{{ application.id }}/" class="btn btn-sm btn-primary">Accept</a>{% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
