{% extends "application/base.html" %}
{% load filters %}

{% block content %}
<div class="container">
    <h1 class="page-header">Application List</h1>
    <table class="table table-condensed table-striped table-center">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Gender</th>
                <th>Birth</th>
                <th>Nationality</th>
                <th>SNU No.</th>
                <th>Facebook Info</th>
                <th>Returning?<th>
                <th>Matching?</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
        {% for item in application_infos %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.0.user.first_name }} {{ item.0.user.last_name }}</td>
            <td>{{ item.0.user.email }}</td>
            <td>{{ item.0.user.profile.get_gender_display }}</td>
            <td>{{ item.0.user.profile.birth|date:"y/m/d" }}</td>
            <td>{{ item.0.user.profile.country }}</td>
            <td>{{ item.0.snu_id }}</td>
            <td title="{{item.0.fb_name}}">{{ item.0.fb_email }}</td>
            <td>{% if item.0.returning %}O{% endif %}<th>
            <td>{% if item.1 %}O{% endif %}</td>
            <td>{% if not item.0.user|has_group:"Foreigner" %}<a href="/application/accept/{{ item.0.id }}/" class="btn btn-sm btn-primary">Accept</a>{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
