{% extends "application/base.html" %}
{% load filters %}

{% block content %}
<div class="container">
    <h1 class="page-header">Application List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Birth</th>
                <th>Nationality</th>
                <th>SNU Member No.</th>
                <th>Facebook Info</th>
            </tr>
        </thead>

        <tbody>
        {% for item in application_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.user.first_name }} {{ item.user.last_name }}</td>
            <td>{{ item.user.profile.gender }}</td>
            <td>{{ item.user.profile.birth }}</td>
            <td>{{ item.user.profile.country }}</td>
            <td>{{ item.snu_id }}</td>
            <td>{{ item.fb_email }} ({{ item.fb_name }})</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
