{% extends "foradmin/base.html" %}

{% load filters %}

{% block content %}
<div class="container">
    <h1 class="page-header">Full Buddy List</h1>
    {% for group, inner_info in infos %}
    <h2>{{ group.name }}</h2>
    <table class="table table-condensed table-center">
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Gender</th>
                <th>Birth</th>
                <th>Nationality</th>
                <th>SNU No.</th>
                <th>Facebook Info</th>
            </tr>
        </thead>

        <tbody>
            {% for usergroup, personal_buddies in inner_info %}
            <tr {% if usergroup.user|has_group:"Korean" %}class="korean"{% endif %}>
                <td>Korean</td>
                <td>{{ usergroup.user.first_name }} {{ usergroup.user.last_name }}</td>
                <td>{{ usergroup.user.email }}</td>
                <td>{{ usergroup.user.profile.get_gender_display }}</td>
                <td>{{ usergroup.user.profile.birth|date:"y/m/d" }}</td>
                <td>{{ usergroup.user.profile.country }}</td>
                <td></td>
                <td></td>
            </tr>
            {% for user, application in personal_buddies %}
            <tr {% if user|has_group:"Korean" %}class="korean"{% endif %}>
                <td>{% if application.returning %}Return{% else %}NEW{% endif %}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.profile.get_gender_display }}</td>
                <td>{{ user.profile.birth|date:"y/m/d" }}</td>
                <td>{{ user.profile.country }}</td>
                <td>{{ application.snu_id }}</td>
                <td title="{{ application.fb_name }}">{{ application.fb_email }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    </div>
{% endblock %}
