{% load filters %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="SNU BUDDY">
        <meta name="author" content="Hyungsuk Yoon">

        <title>{% block title %}SNU BUDDY{% endblock %}</title>

        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css">

        <!-- Bootstrap end -->

        <link rel="stylesheet" href="/static/css/base.css">
    </head>

    <body class="{% block body_class %}{% endblock %}">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">SNU Buddy</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                        <!--<li id="NavHome"><a href="/">Home</a></li>-->
                        {% if user|is_guest or user|is_admin %}
                        <li id="NavApplication"><a href="/application/">Application</a></li>
                        {% endif %}

                        {% if user|is_korean or user|is_foreigner %}
                        <li id="NavMatching" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Matching <span class="caret"></span></a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/matching/">Matching List</a></li>
                                {% if user|is_korean %}
                                <li><a href="/matching/register/">Matching Register</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}

                        {% if user|is_korean %}
                        <li id="NavKorean" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Korean <span class="caret"></span></a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/evaluation/">내 활동 상황</a></li>
                                <li><a href="/evaluation/personal_activity/">개인 활동 추가</a></li>
                                <li><a href="/evaluation/personal_report/">개인 활동 평가서 작성</a></li>

                                {% if user|is_group_leader %}
                                <li><a href="/evaluation/group_activity/">조 활동 추가</a></li>
                                {% endif %}
                                {% if user|is_group_leader or user|is_group_subleader %}
                                <li><a href="/evaluation/group_report/">조 활동 평가서 작성</a></li>
                                {% endif %}

                                {% if user|is_team_leader %}
                                <li><a href="/evaluation/team_activity/">팀 활동 추가</a></li>
                                <li><a href="/evaluation/team_report/">팀 활동 평가서 작성</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}

                        {% if user|is_admin %}
                        <li id="NavAdmin" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/evaluation/SECRET/">평가서 전체 보기</a></li>
                                <li><a href="/evaluation/ranking/">사봉점수 순위 보기</a></li>
                                <li class="divider"></li>
                                <li><a href="/korean/korean_list/">한국인 명단</a></li>
                                <li><a href="/korean/full_list/">전체 명단</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li id="NavSetting"><a href="/account/setting/">Setting</a></li>
                        <li><a href="/account/logout/">Logout</a></li>
                        {% else %}
                        <li id="NavLogin"><a href="/account/login/">Login</a></li>
                        <li id="NavRegister"><a href="/account/register/">Register</a></li>
                        {% endif %}
                    </ul>

                    {% if user.is_authenticated %}
                    <p class="navbar-text navbar-right">{{ user.first_name }} {{ user.last_name }}</p>
                    {% endif %}
                </div><!--/.nav-collapse -->

            </div>
        </nav>

        {% block content %}{% endblock %}

        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

        <!-- Bootstrap -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <!-- Bootstrap end -->

        <script src="/static/js/script.js"></script>
        <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-39127715-4', 'auto');
ga('send', 'pageview');

        </script>

        {% block js %}{% endblock %}
    </body>
</html>
